<div class="main">
  <img class="logo" src="../../assets/entelika-footer.png" alt="Logo" />

  <ul class="links">
    <li>
      <a href="/privacy">Privacy</a>
    </li>
    <li>
      <a href="/career">Career</a>
    </li>
    <li>
      <a href="/sitemap">Site Map</a>
    </li>
  </ul>

  <ul class="connectLinks">
    <li>
      <a href="#" style="height: 1rem; width: 1rem; display: inline-block"
        ><img
          style="height: 100%; width: 100%"
          src="../../assets/fb.png"
          alt=""
      /></a>
    </li>
    <li>
      <a href="#" style="height: 1rem; width: 1rem; display: inline-block"
        ><img
          style="height: 100%; width: 100%"
          src="../../assets/insta.png"
          alt=""
      /></a>
    </li>
    <li>
      <a href="#" style="height: 1rem; width: 1rem; display: inline-block"
        ><img
          style="height: 100%; width: 100%"
          src="../../assets/linkedin.png"
          alt=""
      /></a>
    </li>
    <li>
      <a href="#" style="height: 1rem; width: 1rem; display: inline-block"
        ><img
          style="height: 100%; width: 100%"
          src="../../assets/twitter.png"
          alt=""
      /></a>
    </li>
  </ul>
</div>
