<div class="main">
  <div class="content">
    <div class="heading">
      <h5 style="color: gray; display: flex">
        <img
          src="../../assets/Path.png"
          alt=""
          style="margin-right: 1rem; margin-top: -0.4rem"
        />CUSTOMER REVIEWS
      </h5>

      <div class="headers">
        <h1 style="font-size: 3.5rem">Client Speaks</h1>
      </div>
    </div>

    <div class="cards" id="testimonial-container">
      <div class="testimonial-card">
        <blockquote>
          <p>
            OHHHH Thanks god !!!! Finally there is someone making it for me to
            use on my projects. Love ya ❤️❤️❤️❤️
          </p>
        </blockquote>
        <div class="rating">
          <span>⭐</span>
          <span>⭐</span>
          <span>⭐</span>
          <span>⭐</span>
          <span>⭐</span>
        </div>
        <div class="user-info">
          <img
            src="https://s3-alpha-sig.figma.com/img/51b4/1f20/db95c385c8df9dbc1cafee5ea93687e3?Expires=1719187200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=YuAX8KQ5h-Z~b~wrnQ4RHI5rVNkLkHNv27SgZFI8ok4bn~~fxFe-HVSRNXyTshMRZ88aYEFR~Im3oW~omOp9QvRTRBVrgs7EKnKaqQ9OPx8g84acYmNqxu9ZfpjhyfCiLn9tma3E6xbzxwlcOF8apC9HuPa0fnq3EqUY0P5bKgC0wrLoIEvfWvebzdsAcbWy-14PP8x2zHkjtZIt~OeeTu6jVyR2~4IO-ciLzzeBOhJ3Vj6rl40p6Oo0oNSvELNRaTfg09opzhKjxUITJwQMZGrq8Lia7lvBUcdPcMPq~I18IqnlUOwrYDnNO8TJxir5lKt~tYc6U~WehmR3usYgxg__"
            alt="Jane Copper"
          />
          <div>
            <h3>Jane Copper</h3>
            <p>Lead designer</p>
          </div>
        </div>
      </div>
      <div class="testimonial-card middle-card">
        <blockquote>
          <p>
            OHHHH Thanks god !!!! Finally there is someone making it for me to
            use on my projects. Love ya ❤️❤️❤️❤️
          </p>
        </blockquote>
        <div class="rating">
          <span>⭐</span>
          <span>⭐</span>
          <span>⭐</span>
          <span>⭐</span>
          <span>⭐</span>
        </div>
        <div class="user-info">
          <img
            src="https://s3-alpha-sig.figma.com/img/51b4/1f20/db95c385c8df9dbc1cafee5ea93687e3?Expires=1719187200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=YuAX8KQ5h-Z~b~wrnQ4RHI5rVNkLkHNv27SgZFI8ok4bn~~fxFe-HVSRNXyTshMRZ88aYEFR~Im3oW~omOp9QvRTRBVrgs7EKnKaqQ9OPx8g84acYmNqxu9ZfpjhyfCiLn9tma3E6xbzxwlcOF8apC9HuPa0fnq3EqUY0P5bKgC0wrLoIEvfWvebzdsAcbWy-14PP8x2zHkjtZIt~OeeTu6jVyR2~4IO-ciLzzeBOhJ3Vj6rl40p6Oo0oNSvELNRaTfg09opzhKjxUITJwQMZGrq8Lia7lvBUcdPcMPq~I18IqnlUOwrYDnNO8TJxir5lKt~tYc6U~WehmR3usYgxg__"
            alt="Jane Copper"
          />
          <div>
            <h3>Jane Copper</h3>
            <p>Lead designer</p>
          </div>
        </div>
      </div>
      <div class="testimonial-card">
        <blockquote>
          <p>
            OHHHH Thanks god !!!! Finally there is someone making it for me to
            use on my projects. Love ya ❤️❤️❤️❤️
          </p>
        </blockquote>
        <div class="rating">
          <span>⭐</span>
          <span>⭐</span>
          <span>⭐</span>
          <span>⭐</span>
          <span>⭐</span>
        </div>
        <div class="user-info">
          <img
            src="https://s3-alpha-sig.figma.com/img/51b4/1f20/db95c385c8df9dbc1cafee5ea93687e3?Expires=1719187200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=YuAX8KQ5h-Z~b~wrnQ4RHI5rVNkLkHNv27SgZFI8ok4bn~~fxFe-HVSRNXyTshMRZ88aYEFR~Im3oW~omOp9QvRTRBVrgs7EKnKaqQ9OPx8g84acYmNqxu9ZfpjhyfCiLn9tma3E6xbzxwlcOF8apC9HuPa0fnq3EqUY0P5bKgC0wrLoIEvfWvebzdsAcbWy-14PP8x2zHkjtZIt~OeeTu6jVyR2~4IO-ciLzzeBOhJ3Vj6rl40p6Oo0oNSvELNRaTfg09opzhKjxUITJwQMZGrq8Lia7lvBUcdPcMPq~I18IqnlUOwrYDnNO8TJxir5lKt~tYc6U~WehmR3usYgxg__"
            alt="Jane Copper"
          />
          <div>
            <h3>Jane Copper</h3>
            <p>Lead designer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
