<div class="mainContainer">
  <app-navbar></app-navbar>
  <div class="formContainer">
    <div class="formBox">
      <form action="" class="form">
        <div>
          <input type="text" name="name" placeholder="Name" class="inp" />
        </div>
        <div>
          <input
            style="padding-left: 1rem"
            type="email"
            name="email"
            placeholder="Email"
            class="inp"
          />
        </div>
        <div>
          <textarea
            name="message"
            id=""
            placeholder="Message"
            class="inp"
            style="height: 5rem"
          ></textarea>
        </div>

        <button class="btn">
          <img
            style="width: 100%; height: 100%"
            src="../../assets/Send Button.png"
            alt="send"
          />
        </button>
      </form>
    </div>
  </div>
  <app-footer></app-footer>
</div>
