<div class="mainPage">
  <div class="mainBox">
    <div class="textArea">
      <div class="text">
        <h1>Transform</h1>
        <h1>at Speed of</h1>
        <h1>Light</h1>

        <p style="margin-top: 1rem">
          Revolutionise your journey by transforming your work at Light
        </p>
        <p>speed...Neque porro quisquam est qui dolorem ipsum quia dolor sit</p>
        <p>amet, consectetur, adipisci velit..."</p>
      </div>

      <div class="moreButton">
        <div>
          <hr style="width: 7rem; color: orange; margin-top: 1rem" />
        </div>
        <button class="btn">More</button>
      </div>
    </div>
    <div class="imageArea">
      <div class="backgroundImage"></div>
      <div class="mainImage">
        <ng-image-slider
          #nav
          [images]="imageObject"
          [infinite]="false"
          [autoSlide]="1"
          [imageSize]="{ width: '102%', height: '353vh' }"
          slideImage="1"
        ></ng-image-slider>
      </div>

      <div class="arrowIcon" style="display: flex">
        <div><hr style="width: 7rem; color: orange; margin-top: 1rem" /></div>
        <div style="color: orange; margin-top: 0.4rem; font-weight: bold">
          >
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="scroll">
      <div class="LeftToRight">
        <pre><h1 class="gradient-text" style=" font-family: Helvetica Neue; font-weight: 700; ">Bold.       Excellence.      Trust</h1></pre>
      </div>
    </div>
  </div>
</div>
