<div class="mainBox">
  <div class="content">
    <h5 style="color: gray; display: flex">
      <img
        src="../../assets/Path.png"
        alt=""
        style="margin-right: 1rem; margin-top: -0.4rem"
      />SERVICE OFFERINGS
    </h5>

    <div class="headers">
      <h1 style="font-size: 3.5rem">The role of</h1>
      <h1 style="font-size: 3.5rem">Entelika in your</h1>
      <h1 style="font-size: 3.5rem">Product</h1>
    </div>

    <div class="details" style="margin-top: 2rem; display: flex">
      <div class="ssd" style="height: 59vh; width: 25%">
        <img src="../../assets/ssd.png" style="width: 100%; height: 50vh" />
        <h5 style="color: orange">Strategy and Service Design</h5>
        <p style="color: orange; font-size: 0.5rem; margin-top: 0.2rem">
          lorem ipsum
        </p>
      </div>

      <div
        class="otherDetails"
        style="width: 60%; height: 59vh; margin-left: 5rem"
      >
        <div class="textContent">
          <h6
            style="
              color: white;
              display: flex;
              margin-top: 0.5rem;
              font-size: 0.5rem;
            "
          >
            <img
              src="../../assets/Path.png"
              alt=""
              style="margin-right: 0.7rem; margin-top: -0.4rem; color: white"
            />CUSTOMER EXPERIENCE AND RETENTION
          </h6>
          <p style="color: white; font-size: 0.5rem; padding-left: 01rem">
            Lorem ipsum dolor sit amet.
          </p>
          <p
            style="
              color: white;
              font-size: 0.5rem;
              padding-left: 01rem;
              margin-top: 0.2rem;
            "
          >
            dolor sit amet consectetur adipisicing.
          </p>
          <p
            style="
              color: white;
              font-size: 0.5rem;
              padding-left: 01rem;
              margin-top: 0.2rem;
            "
          >
            Lorem ipsum dolor sit amet.
          </p>
        </div>

        <div
          class="imageDetails"
          style="
            display: flex;
            justify-content: space-between;
            padding-left: 1rem;
            margin-top: 2rem;
          "
        >
          <div class="ssd" style="height: 41vh; width: 35%">
            <img
              src="https://s3-alpha-sig.figma.com/img/b934/2d46/0a1fbee5b71b9e3d38a2b82da02945c7?Expires=1718582400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=RteI28-MrYhBdq-XBRCgf31EvbY31z333pKxLmvakLy2zt7gqHaBtK2KInRtsx1WhZeA8GgJWDEq~Tp57NoeC1u73PaYhvYP6DiQgXbP0KqLeIwu0q08YaY69Xv20r4RZ6M2Ww-4PbbO2RohEsdDy-zTvqV~CBaV6ZLvS2oYvNQfU6kQ0rkHe0RHxGuNFVVf7B~ajLLkPbS-5uES9XnQjfkuRY3cwsjWxzOIDCg6Kiw3i4qdYPJumrgtcOT4H8nhl8SJAdfUXMX1c92bv6CWcU5w8sm7WqSsOFP01Yr55PPVexrfCsTkrj793KEUNmn6SjCMiorbv4kNHpZZ~egocQ__"
              style="width: 85%; height: 35vh"
            />
            <h5 style="color: white; text-align: right">
              Digital Production and Service
            </h5>
            <p
              style="
                color: gray;
                text-align: right;
                font-size: 0.5rem;
                margin-top: 0.2rem;
              "
            >
              lorem ipsum
            </p>
          </div>

          <div class="ssd" style="height: 41vh; width: 50%">
            <img
              src="https://s3-alpha-sig.figma.com/img/331a/a4ea/f6c5ee017c930df603cd5775c652bef7?Expires=1718582400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=SUFCjQdwAJ88ThtANyGnQqao30juh1eKR3trqbbXgOuBrYrgqvP4qtaFRfRODsRP5rt6o4-oyR0eh4bJ5LEcWx6Y4FOoxwyQc7DWTo942XjhXvioMMF9I~SA3QjSBuEIDEOr48WGaFJihRIjZYKwiH1lOyATEfnrOW~cewQVdsR6PN1FEEnnbYnQ-KyzQks5yLsuwRfGt0uqo1mxbENke09G96KEFnMTRp69inKObo0RzUiZX-xF52CNb7zDS2APMotLd3iLT97gyp1X6zGIkFLQzu9mHGR-mR1-c6TFzuU5CHBQ~XGr5mg2OMXcx3erBy0tAbRmGD4GLRENtGpXXQ__"
              style="width: 100%; height: 35vh"
            />
            <h5 style="color: white">Trasnformation at scale</h5>
            <p style="color: gray; font-size: 0.5rem; margin-top: 0.2rem">
              lorem ipsum
            </p>
          </div>
        </div>
      </div>
    </div>

    <div
      class="ssd"
      style="
        height: 30vh;
        width: 20%;
        position: relative;
        left: 17%;
        bottom: 10vh;
      "
    >
      <img
        src="https://s3-alpha-sig.figma.com/img/1eff/3462/9c05d3a267b7e58a9bae4f628494c4cf?Expires=1719187200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Ovxwv0MAYr6vG7LJL0Npj-JFddKCMd9PwYOas1m~G8KSXk72h~RnIOGNN3FvZ~yK4-ouQn3ZdfWnGHuf1qTeWJlhRZkqaygWQvxWC24Qnk2zNBCQeABKK0yelAVEXhrB33BcnzFMn61-HhCKBz9E-QpiOkMM1mvtREc1VlQOKfRTB0RyUtZqiPLrLeYK7SvJ4H~MdIjXcw3LyDOz-HtJKRYnF8wM25KAlfTgU1XqgynAsxakADqXiFNZxV~~BUVFDR82AHl57tCioeBcDannipcEvTmIrnRmOtzrpephFl1bWsvePseub4ICwnAcgE8VBriF7CigcmhRd5sHeJmlHg__"
        style="width: 100%; height: 24vh"
      />
      <h5 style="color: white">Operational Excellence</h5>
      <p style="color: gray; font-size: 0.5rem; margin-top: 0.2rem">
        lorem ipsum
      </p>
    </div>
  </div>
</div>
